<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateData" method="post">

        <input type="text" value="<%=data.id%>" name="id" hidden >
        <input type="text" value="<%=data.name%>" name="name" placeholder="name" id="">
        <input type="text" value="<%=data.subject%>"name="subject" placeholder="subject" id="">

        <button type="submit">submit</button>



    </form>
</body>
</html>