<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello ejs</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis commodi vero nihil modi, voluptas, atque, doloremque odit quasi at ducimus quam. Odio enim nam, iste ad commodi eaque ullam unde?</p>
</body>
</html>