<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateData" method="post">
        <input type="text" name="id" hidden value="<%=singleDatas.id%>" placeholder="age" id="">
        <input type="text" name="name" value="<%=singleDatas.name%>" placeholder="name" id="">
        <input type="text" name="age" value="<%=singleDatas.age%>" placeholder="age" id="">
        <button type="submit">submit</button>
    </form>
</body>
</html>