<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="glass-container">
        <form class="glass-form" action="/updateForm" method="POST" enctype="multipart/form-data">
          <h2 class="form-title">🚀 Update Product</h2>
          <div class="floating-label" hidden>
            <input type="text" name="id" value="<%=data.id%>" required />
            <label>Product Name</label>
          </div>

          <div class="floating-label">
            <input type="text" name="productName" value="<%=data.productName%>" required />
            <label>Product Name</label>
          </div>
      
          <div class="floating-label">
            <input type="text" name="productPrice" value="<%=data.productName%>" required />
            <label>Product Price</label>
          </div>

          <div class="floating-label">
            <!-- <label>Product image</label> -->
            <input type="file" name="productImage"  required />
             <img src="<%=data.productImage%>" alt="">
          </div>
      
          <button type="submit" class="neon-button">Update Product</button>
        </form>
      </div>
</body>
</html>